@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Poppins:wght@500&family=Roboto:wght@400;500;700&display=swap");
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

html,
body {
  height: 100%;
  margin: 0; }

.header-and-main {
  margin-left: 240px;
  height: 100%; }

.outer-container {
  display: flex;
  justify-content: center; }

.sidenav {
  width: 240px;
  height: 100%;
  transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f3f4f9; }

.button-container {
  width: 48px;
  height: 106px;
  transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s ease-in-out;
  top: 0;
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  background: url("../images/icon/template.svg") center no-repeat; }
  .button-container__button {
    border: none;
    outline: none;
    background-color: transparent; }
    .button-container__button:hover {
      border: 0.5px solid grey;
      border-radius: 5px; }
  .button-container__button_close {
    display: none; }

.logo-wrapper {
  display: flex;
  align-items: center;
  margin: 40px 0 40px 40px; }
  .logo-wrapper__img {
    width: 50px;
    height: 50px; }
  .logo-wrapper__txt {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    padding-left: 10px; }

.link-wrapper {
  display: flex;
  align-items: center;
  border-left: 3px solid transparent;
  cursor: pointer;
  margin-bottom: 40px; }
  .link-wrapper__img {
    width: 25px;
    height: 25px;
    margin-left: 37px; }
  .link-wrapper__link {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    color: #333;
    display: block;
    padding-left: 10px;
    transition: 0.5s ease-in-out; }
  .link-wrapper_active {
    border-color: #34abe0; }
    .link-wrapper_active .link-wrapper__link {
      color: #34abe0; }

.header {
  border-bottom: 1px solid #d6d6d6; }
  .header__wrapper-inner {
    width: 90%;
    height: 200px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-evenly; }
  .header__title {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 28px;
    color: black;
    margin: 0; }
  .header__input {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    width: 100%;
    height: 52px;
    outline: none;
    border-radius: 50px;
    background: url("../images/icon/search.svg") no-repeat 15px 15px;
    background-size: auto, auto;
    border: 1px solid #d6d6d6;
    padding-left: 44px;
    color: black;
    vertical-align: middle; }
    .header__input::placeholder {
      color: rgba(0, 0, 0, 0.45); }

main {
  background-color: #fafafa;
  min-height: 100%; }

.main {
  width: 90%;
  height: 100%;
  margin: 40px 0 40px 0;
  display: grid;
  row-gap: 20px;
  column-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr; }

.card {
  height: 166px;
  filter: drop-shadow(1px 0 0.2rem rgba(97, 94, 95, 0.404));
  letter-spacing: 0.1em;
  text-overflow: ellipsis;
  overflow-x: visible;
  border-radius: 10px;
  border: 1.5px solid rgba(0, 0, 0, 0);
  position: relative; }
  .card_wine {
    background: url("../images/coupons/wine.svg") center no-repeat padding-box;
    background-size: cover; }
  .card_beer {
    background: url("../images/coupons/beer.svg") center no-repeat padding-box;
    background-size: cover; }
  .card_cake {
    background: url("../images/coupons/cake.svg") center no-repeat padding-box;
    background-size: cover; }
  .card_sushi {
    background: url("../images/coupons/sushi.svg") center no-repeat padding-box;
    background-size: cover; }
  .card_ice-cream {
    background: url("../images/coupons/ice-cream.svg") center no-repeat padding-box;
    background-size: cover; }
  .card_shaurma {
    background: url("../images/coupons/shaurma.svg") center no-repeat padding-box;
    background-size: cover; }
  .card_chicken {
    background: url("../images/coupons/chicken.svg") center no-repeat padding-box;
    background-size: cover; }
  .card_fruits {
    background: url("../images/coupons/fruits.svg") center no-repeat padding-box;
    background-size: cover; }
  .card:hover {
    border-color: #df212d;
    cursor: pointer; }
  .card p {
    margin: 0;
    color: black; }
  .card__inner-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 15px; }
  .card .card-top__text-top {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase; }
  .card .card-top__text-bottom {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    opacity: 0.5; }
  .card .card-bottom__text-top {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 36px;
    color: #df212d;
    text-transform: uppercase; }
  .card .card-bottom__text-bottom {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 6px;
    line-height: 16px;
    text-transform: uppercase;
    opacity: 0.5; }

.card:hover::before,
.card:hover::after {
  display: block; }

.card::before,
.card::after {
  content: "";
  display: none;
  position: absolute;
  width: 6px;
  height: 6px;
  border: 1.5px solid #df212d;
  border-left-style: none;
  border-bottom-style: none;
  top: 50%;
  background-image: linear-gradient(to left bottom, #999394, #bdb7bb, #cec9ce, #e7e2e7, #fafafa); }

.card::before {
  left: 0;
  transform: translate(-4.4px, -50%) rotate(45deg); }

.card::after {
  right: 0;
  transform: translate(4.4px, -50%) rotate(-135deg); }

@media screen and (max-width: 768px) {
  .header-and-main {
    transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s ease-in-out;
    margin-left: 100px; }
    .header-and-main_active {
      transition: 0.4s ease-in-out;
      -o-transition: 0.4s ease-in-out;
      -moz-transition: 0.4s ease-in-out;
      -webkit-transition: 0.4s ease-in-out;
      margin-left: 210px; }
  .header__wrapper-inner {
    align-items: flex-end;
    height: 180px; }
  .logo-wrapper {
    height: 35px; }
    .logo-wrapper__txt {
      display: none; }
    .logo-wrapper__img {
      width: 24px;
      height: 24px; }
  .sidenav {
    width: 100px; }
    .sidenav a {
      opacity: 0; }
    .sidenav .button-container {
      display: flex;
      left: 100px; }
    .sidenav_active {
      transition: 0.4s ease-in-out;
      -o-transition: 0.4s ease-in-out;
      -moz-transition: 0.4s ease-in-out;
      -webkit-transition: 0.4s ease-in-out;
      width: 210px; }
      .sidenav_active h1 {
        display: block;
        font-size: 14px; }
      .sidenav_active a {
        opacity: 1; }
      .sidenav_active .button-container {
        left: 210px; }
        .sidenav_active .button-container__button_open {
          display: none; }
        .sidenav_active .button-container__button_close {
          display: block; }
  .main {
    grid-template-columns: 1fr 1fr; }
  .card {
    height: 130px; }
    .card .card-top__text-top, .card .card-top__text-bottom,
    .card .card-bottom__text-top,
    .card .card-bottom__text-bottom {
      font-size: 0.9em; }
    .card .card-bottom__text-top {
      font-size: 24px; } }

@media screen and (max-width: 360px) {
  .header-and-main {
    transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s ease-in-out;
    margin-left: 12px; }
    .header-and-main .header__wrapper-inner {
      align-items: flex-end;
      height: 170px; }
    .header-and-main_active {
      transition: 0.4s ease-in-out;
      -o-transition: 0.4s ease-in-out;
      -moz-transition: 0.4s ease-in-out;
      -webkit-transition: 0.4s ease-in-out;
      margin-left: 120px; }
  .header__title {
    font-size: 18px; }
  .header__input {
    font-size: 14px;
    text-overflow: ellipsis; }
  .sidenav {
    width: 12px; }
    .sidenav .button-container {
      display: flex;
      left: 12px; }
    .sidenav_active {
      transition: 0.4s ease-in-out;
      -o-transition: 0.4s ease-in-out;
      -moz-transition: 0.4s ease-in-out;
      -webkit-transition: 0.4s ease-in-out;
      width: 120px; }
      .sidenav_active .logo-wrapper {
        display: flex;
        align-items: center;
        margin: 40px 40px 40px 20px; }
      .sidenav_active .link-wrapper {
        display: flex;
        align-items: center; }
        .sidenav_active .link-wrapper__img {
          display: none; }
        .sidenav_active .link-wrapper__link {
          font-size: 12.8px; }
      .sidenav_active h1 {
        display: block;
        font-size: 12px; }
      .sidenav_active a {
        opacity: 1; }
      .sidenav_active .button-container {
        left: 120px; }
        .sidenav_active .button-container__button_open {
          display: none; }
        .sidenav_active .button-container__button_close {
          display: block; }
  .logo-wrapper,
  .link-wrapper {
    display: none; }
  .main {
    grid-template-columns: 1fr; }
  .card {
    height: 140px; }
    .card .card-top__text-top, .card .card-top__text-bottom,
    .card .card-bottom__text-top,
    .card .card-bottom__text-bottom {
      font-size: 0.9em; }
    .card .card-bottom__text-top {
      font-size: 24px; } }
