@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Poppins:wght@500&family=Roboto:wght@400;500;700&display=swap");

// ===MIXINS===
@mixin poppins($fw, $fz) {
  font-family: "Poppins", sans-serif;
  font-weight: $fw;
  font-size: $fz;
}

@mixin open-sans($fw, $fz) {
  font-family: "Open Sans", sans-serif;
  font-weight: $fw;
  font-size: $fz;
}

@mixin roboto($fw, $fz) {
  font-family: "Roboto", sans-serif;
  font-weight: $fw;
  font-size: $fz;
}

@mixin wh($w, $h) {
  width: $w;
  height: $h;
}

@mixin flex-wrapper {
  display: flex;
  align-items: center;
}

@mixin animate-nav {
  transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s ease-in-out;
}

// ===/MIXINS===

// ===VARIABLES===
$sidebar-bgcolor: #f3f4f9;
$active-color: #34abe0;
$grey-col: #d6d6d6;
$h-black: #808080;
$link-border-size: 3px;
$main-fz: 16px;
$com-mg: 40px;
$nav-w: 240px;
$nav-w-m: 210px;
$nav-w-s: 120px;
$nav-w-cl-m: $nav-w - 140px;
$nav-w-cl-sm: $nav-w - 228px;
$main-bgcolor: #fafafa;
$card-hover-color: #df212d;
$products: "wine", "beer", "cake", "sushi", "ice-cream", "shaurma", "chicken",
  "fruits";
// ===/VARIABLES===

// ===COMMON===
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

.header-and-main {
  margin-left: $nav-w;
  height: 100%;
}

.outer-container {
  display: flex;
  justify-content: center;
}

// ===/COMMON===

// ===SIDEBAR==
.sidenav {
  @include wh($nav-w, 100%);
  @include animate-nav;

  position: fixed;
  top: 0;
  left: 0;
  background-color: $sidebar-bgcolor;
}

.button-container {
  @include wh(48px, 106px);
  @include animate-nav;

  top: 0;
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  background: url("../images/icon/template.svg") center no-repeat;

  &__button {
    border: none;
    outline: none;
    background-color: transparent;

    &:hover {
      border: 0.5px solid grey;
      border-radius: 5px;
    }
  }

  &__button_close {
    display: none;
  }
}

.logo-wrapper {
  @include flex-wrapper;

  margin: $com-mg 0 $com-mg $com-mg;

  &__img {
    @include wh(50px, 50px);
  }

  &__txt {
    @include poppins(500, $main-fz);

    padding-left: 10px;
  }
}

.link-wrapper {
  @include flex-wrapper;

  border-left: $link-border-size solid transparent;
  cursor: pointer;
  margin-bottom: $com-mg;

  &__img {
    @include wh(25px, 25px);

    margin-left: $com-mg - $link-border-size;
  }

  &__link {
    @include open-sans(600, $main-fz);

    text-decoration: none;
    color: #333;
    display: block;
    padding-left: 10px;
    transition: 0.5s ease-in-out;
  }

  &_active {
    border-color: $active-color;

    .link-wrapper__link {
      color: $active-color;
    }
  }
}
// ===/SIDEBAR===

// ===HEADER===

.header {
  border-bottom: 1px solid $grey-col;

  &__wrapper-inner {
    @include wh(90%, 200px);

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-evenly;
  }

  &__title {
    @include open-sans(600, 28px);

    color: black;
    margin: 0;
  }

  &__input {
    @include open-sans(400, 18px);
    @include wh(100%, 52px);

    outline: none;
    border-radius: 50px;
    background: url("../images/icon/search.svg") no-repeat 15px 15px;
    background-size: auto, auto;
    border: 1px solid $grey-col;
    padding-left: 44px;
    color: black;
    vertical-align: middle;

    &::placeholder {
      color: rgba(0, 0, 0, 0.45);
    }
  }
}
// ===/HEADER===

// ===MAIN===
main {
  background-color: $main-bgcolor;
  min-height: 100%;
}

.main {
  @include wh(90%, 100%);

  margin: 40px 0 40px 0;
  display: grid;
  row-gap: 20px;
  column-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  height: 166px;

  @each $product in $products {
    &_#{$product} {
      background:
        url("../images/coupons/#{$product}.svg")
        center
        no-repeat
        padding-box;
      background-size: cover;
    }
  }

  filter: drop-shadow(1px 0 0.2rem rgba(97, 94, 95, 0.404));
  letter-spacing: 0.1em;
  text-overflow: ellipsis;
  overflow-x: visible;
  border-radius: 10px;
  border: 1.5px solid rgba(0, 0, 0, 0);
  position: relative;

  &:hover {
    border-color: $card-hover-color;
    cursor: pointer;
  }

  p {
    margin: 0;
    color: black;
  }

  &__inner-wrapper {
    @include wh(100%, 100%);

    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 15px;
  }

  .card-top {
    &__text-top {
      @include roboto(600, $main-fz);

      text-transform: uppercase;
    }

    &__text-bottom {
      @include roboto(400, $main-fz);

      opacity: 0.5;
    }
  }

  .card-bottom {
    &__text-top {
      @include roboto(500, $main-fz + 20px);

      color: $card-hover-color;
      text-transform: uppercase;
    }

    &__text-bottom {
      @include roboto(400, $main-fz);

      letter-spacing: 6px;
      line-height: 16px;
      text-transform: uppercase;
      opacity: 0.5;
    }
  }
}

.card:hover::before,
.card:hover::after {
  display: block;
}

.card::before,
.card::after {
  content: "";
  display: none;
  position: absolute;
  width: 6px;
  height: 6px;
  border: 1.5px solid $card-hover-color;
  border-left-style: none;
  border-bottom-style: none;
  top: 50%;
  background-image:
    linear-gradient(
      to left bottom,
      #999394,
      #bdb7bb,
      #cec9ce,
      #e7e2e7,
      $main-bgcolor
    );
}

.card::before {
  left: 0;
  transform: translate(-4.4px, -50%) rotate(45deg);
}

.card::after {
  right: 0;
  transform: translate(4.4px, -50%) rotate(-135deg);
}

// ===/MAIN===

// ===MEDIA QUERIES===
@media screen and (max-width: 768px) {
  .header-and-main {
    @include animate-nav;

    margin-left: $nav-w-cl-m;

    &_active {
      @include animate-nav;

      margin-left: $nav-w-m;
    }
  }

  .header__wrapper-inner {
    align-items: flex-end;
    height: 180px;
  }

  .logo-wrapper {
    &__txt {
      display: none;
    }

    &__img {
      @include wh(24px, 24px);
    }

    height: 35px;
  }

  .sidenav {
    width: $nav-w-cl-m;

    a {
      opacity: 0;
    }

    .button-container {
      display: flex;
      left: $nav-w-cl-m;
    }

    &_active {
      @include animate-nav;

      width: $nav-w-m;

      h1 {
        display: block;
        font-size: 14px;
      }

      a {
        opacity: 1;
      }

      .button-container {
        left: $nav-w-m;

        &__button_open {
          display: none;
        }

        &__button_close {
          display: block;
        }
      }
    }
  }

  .main {
    grid-template-columns: 1fr 1fr;
  }

  .card {
    height: 130px;

    .card-top,
    .card-bottom {
      &__text-top,
      &__text-bottom {
        font-size: 0.9em;
      }
    }

    .card-bottom {
      &__text-top {
        font-size: 24px;
      }
    }
  }
}

@media screen and (max-width: 360px) {
  .header-and-main {
    @include animate-nav;

    margin-left: $nav-w-cl-sm;

    .header__wrapper-inner {
      align-items: flex-end;
      height: 170px;
    }

    &_active {
      @include animate-nav;

      margin-left: $nav-w-s;
    }
  }

  .header {
    &__title {
      font-size: $main-fz + 2px;
    }

    &__input {
      font-size: $main-fz - 2px;
      text-overflow: ellipsis;
    }
  }

  .sidenav {
    width: $nav-w-cl-sm;

    .button-container {
      display: flex;
      left: $nav-w-cl-sm;
    }

    &_active {
      @include animate-nav;

      width: $nav-w-s;

      .logo-wrapper {
        @include flex-wrapper;

        margin: $com-mg $com-mg $com-mg $com-mg/2;
      }

      .link-wrapper {
        @include flex-wrapper;

        &__img {
          display: none;
        }

        &__link {
          font-size: $main-fz * 0.8;
        }
      }

      h1 {
        display: block;
        font-size: $main-fz * 0.75;
      }

      a {
        opacity: 1;
      }

      .button-container {
        left: $nav-w-s;

        &__button_open {
          display: none;
        }

        &__button_close {
          display: block;
        }
      }
    }
  }

  .logo-wrapper,
  .link-wrapper {
    display: none;
  }

  .main {
    grid-template-columns: 1fr;
  }

  .card {
    height: 140px;

    .card-top,
    .card-bottom {
      &__text-top,
      &__text-bottom {
        font-size: 0.9em;
      }
    }

    .card-bottom {
      &__text-top {
        font-size: 24px;
      }
    }
  }
}
// ===/MEDIA QUERIES===
